In [1]:
#변수선언
a=10
b="test"

##변수출력
print(a)
print(type(a))

print(b)
print(type(b))

10
<class 'int'>
test
<class 'str'>

In [2]:
#볼형데이터
#참과 거짓의 형태
a=True
print(type(a))

<class 'bool'>

In [3]:
b=(100>10)
c=(100<10)
d=(100==100)
print(b,c,d)

True False True

In [4]:
# 산술 연산자
# 기본적인 사칙연산
a=7
b=3

print(a+b, a-b, a*b, a/b, a//b, a%b, a**b)

10 4 21 2.3333333333333335 2 1 343

In [5]:
c=2
print(a+b*c)
print((a+b)*c)

13
20

In [9]:
# 대입 연산자
a+=5 #a=a+5
print(a)

27

#조건문

In [12]:
# if문
a=5
if a<10:
    print("a는 10보다 작다")

a는 10보다 작다

In [15]:
# if~else
a=20

if a<10:
    print("a는 10보다 작다")
else:
    print("a는 10보다 크거나 같다")

a는 10보다 크거나 같다

In [18]:
# if~elif~else
score=int(input("점수를 입력하세요:"))
print(score)
print(type(score))
if score>=90:
    print("A")
elif score>=80:
    print("B")
elif score>=70:
    print("C")
else:
    print("F")

print("프로그램 종료")

91
<class 'int'>
A
프로그램 종료

In [19]:
# 반복문
# for
for i in range(0,10,1):
    print("%d 번째 반복" %i)

0 번째 반복
1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복
5 번째 반복
6 번째 반복
7 번째 반복
8 번째 반복
9 번째 반복

In [21]:
for i in range(10):
    print("%d 번째 반복" %i)

0 번째 반복
1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복
5 번째 반복
6 번째 반복
7 번째 반복
8 번째 반복
9 번째 반복

In [23]:
# 1부터 10까지 합 for문 사용
# 합계 변수 생성
sum =0

for a in range(1,11,1):
    sum += a # sum=sum+a
    print(sum) #들여쓰기 주의

1
3
6
10
15
21
28
36
45
55

In [24]:
sum =0

for a in range(1,11,1):
    sum += a # sum=sum+a
print(sum)

55

In [28]:
# 다중 for문
# 구구단

for i in range(2,10,1):
    print("%d단" %i) # print(i+"단")
    for j in range(1,10,1):
        print("%d X %d = %d"%(i,j,i*j)) # print(str(i) + "X" + str(j) + "=" + str(i*j))

2단
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3단
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4단
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5단
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6단
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7단
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8단
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9단
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
# 2개의 주사위를 굴려서 두 주사위의 합이 5가 되는 주사위의 값
# 다중 for문

for i in range(1,6,1):
    print("%d" %i)
    for j in range()

In [36]:
# 1부터 100까지의 숫자 중에 짝수의 합계
#for문
# 1부터 100까지 반복_if 조건식을 사용해서 짝수인 경우에만 

sum = 1
for i in range(1,101,1):
    sum += i
print(i)

100

In [37]:
# 1부터 100까지의 숫자 중에 짝수의 합계_풀이1

sum=0
for i in range(1,101,1):
    if i %2 == 0:
        sum += i
print(sum)

2550

In [62]:
sum=0
for i in range(2,101,2):
    sum += i
print(sum)

2550

In [40]:
# 2개의 주사위를 굴려서 두 주사위의 합이 5가 되는 주사위의 값_풀이

for i in range(1,7,1):
    for j in range(1,7,1):
        if i+j==5:
            print(i,j)

1 4
2 3
3 2
4 1

In [46]:
# while
# 초기값 지정 i=0
i=0
while i < 10:
    i += 1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [47]:
# break문 (반복문 강제종료)

for i in range(1,101,1):
    print("%d번째 반복" %i)
    if i ==5:
        break

1번째 반복
2번째 반복
3번째 반복
4번째 반복
5번째 반복

In [50]:
for i in range(1,101,1):
    if i ==5:
        break
    print("%d 번째 반복" %i)

1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복

In [51]:
# 1부터 100까지 합계를 구하는중 합계가 500이 넘어가는 숫자와 합계의 값
# for문 사용

sum=0

for i in range(1,101,1):
    sum+=i
    if sum>=500:
        break
print("합계가 500이상이되는 범위의 숫자",i,"합계는",sum)

합계가 500이상이되는 범위의 숫자 32 합계는 528

In [55]:
# 1부터 100까지 합계를 구하는중 합계가 500이 넘어가는 숫자와 합계의 값
# while문 사용

sum=0
i=1

while i<=100:
    sum+=i
    if sum>=500:
        break
    i+=1
print("합계가 500이상이되는 범위의 숫자",i,"합계는",sum)

합계가 500이상이되는 범위의 숫자 32 합계는 528

In [57]:
# continue문

for i in range(1,10,1):
    if i <=3:
        continue
    print("%d번째 반복" %i)

4번째 반복
5번째 반복
6번째 반복
7번째 반복
8번째 반복
9번째 반복

In [59]:
#continue 마지막은 무의미함
for i in range(1,10,1):
    print("%d번째 반복" %i)
    if i <=3:
        continue

1번째 반복
2번째 반복
3번째 반복
4번째 반복
5번째 반복
6번째 반복
7번째 반복
8번째 반복
9번째 반복

In [63]:
# 1부터 100까지 합계중 짝수의 합계
sum=0

for i in range(1,101,1):
    if i %2==1:
        continue
    sum+=i

print(sum)

2550

#튜플

In [64]:
#튜플

a= (1,'Hello')
b=(3,3.14)
c=a+b
d=a*3
e=a[1]

print(a,b,c,d)

(1, 'Hello') (3, 3.14) (1, 'Hello', 3, 3.14) (1, 'Hello', 1, 'Hello', 1, 'Hello')

In [80]:
#숫자 1만 출력
print(a[0])

10

In [68]:
a=(10,20,30,40)

In [69]:
print(a[1:3])

(20, 30)

In [70]:
# 30,40 출력
print(a[2:])

(30, 40)

In [71]:
#list형태 데이터
a= [20,10,50,5]
b=[10,20,30,40]

In [75]:
# sort() -> 오름차순 정렬로 변경
a.sort()
print(a)

[5, 10, 20, 50]

In [74]:
# reverse() -> 역순으로 정렬 변경
b.reverse()
print(b)

[40, 30, 20, 10]

In [77]:
#append -> 리스트의 마지막 항목 추가
a.append(22)
print(a)

[5, 10, 20, 50, 22]

In [79]:
# 리스트의 특징
a=[]
print(a)
a.append(10)
print(a)

[]
[10]

In [93]:
# 1부터 70까지 숫자중에 3의 배수를 리스트로 만들어서 출력

# 비어있는리스트 생성
l=[]

# 1부터 70까지 반복
for i in range(1,71,1):
    # 3의배수 조건식
    if i % 3 == 0:
        l.append(i)

print(l)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [92]:
for i in [5,7,10]:
    print(i)

5
7
10

In [96]:
sum=0
for i in l:
    sum+=i

print(sum)

828

In [99]:
# 딕셔너리 형태_사전형 데이터
# {key : value1, key2 : value2, ...}
dict = {
    "name" : "test",
    "age" : 10,
    "phone" : "010123456789"
}

print(dict["name"])

test

In [101]:
# 새로운 key : value 대입
dict['area'] = "seoul"

print(dict)

{'name': 'test', 'age': 10, 'phone': '010123456789', 'area': 'seoul'}

In [104]:
# Database에서 data를 받아올때 data의 형태
# [{},{},{}]
test_data = [
    {
        "name" : "test1",
        "age" : 20
    },
    {
        "name" : "test2",
        "age" : 30
    },
    {
        "name" : "test3",
        "age" : 40
    }
]

# 0. test1만 출력
# 1.대괄호 없애기
print(test_data[0])

{'name': 'test1', 'age': 20}

In [105]:
# 2. 
print(test_data[0]["name"])

test1

In [107]:
# test_data에서 name의 값들만 list형태로 출력

#비어있는 list 생성
name_list = []

for name in test_data:
    name_list.append(name["name"])

print(name_list)

['test1', 'test2', 'test3']

In [111]:
name_list = []

for i in range(3): # for i in range (0,3,1): 가능
    name_list.append(test_data[i]["name"])

print(name_list)

['test1', 'test2', 'test3']

In [112]:
#문자열, 내장함수
#대문자, 소문자 변환

# upper(), lower()
text = "Hello Word"
print(text.upper())
print(text.lower())

HELLO WORD
hello word

In [113]:
# 출력물 공백
text = "   Hell0 Word   "
print(text)

   Hell0 Word

In [114]:
# 공백 제거 함수
# strip() : 양쪽의 공백 제거
# lstrip() : 왼쪽의 공백 제거
# rstrip() : 오른쪽의 공백 제거

print(text.lstrip())
print(text.rstrip())
print(text.strip())

Hell0 Word
   Hell0 Word
Hell0 Word

In [116]:
# replace() : 선택한 문자열 변경 or 가운데 공백 제거

text.replace(" ", "") # 공백을(" ") 공백이 없는("") 형태로 바꾸겠다는 의미

'Hell0Word'

In [120]:
# split() : 기준이되는 문자열이나 , . / 와 같은 특수문자열을 기준으로 문자열을 나눠주는 역할

a= "a,b,c,d,e"
print(a)

a,b,c,d,e

In [121]:
a.split(",")

['a', 'b', 'c', 'd', 'e']

In [124]:
### 함수 
def func_1():
    return "Hello Word"

In [125]:
print(func_1())
print(func_1())
print(func_1())

Hello Word
Hello Word
Hello Word

In [126]:
## 매개변수가 존재하는 함수 생성
def func_2(x, y):
    result = x+y
    return result

In [127]:
print(func_2(5,3))
print(func_2(1,3))
print(func_2(10,4))

8
4
14

In [128]:
# error 확인
func_2(1)

TypeError: func_2() missing 1 required positional argument: 'y'

In [130]:
## 매개변수의 기본값을 정의 가능
def func_3(x, y=3):
    result = x+y
    return result

print(func_3(5,1)) # y=3이지만 이것을 1로 바꿔주었단 의미
print(func_3(3))

6
6

In [131]:
# error 확인
def func_4(x=3, y): # 앞에 기본값(x=3)이 들어있으면 뒤에도 기본값 필요?
    result =

SyntaxError: non-default argument follows default argument (2860126427.py, line 1)

In [134]:
def func_4(x, y):
    result = x**y
    return result

print(func_4(5,2))
print(func_4(y=5, x=2))

25
32

#### 1. 함수를 하나 생성, 매개변수 2개 (x,y)
#### 2. 함수가 하는 행동 (x부터 y까지의 합을 리턴) - for/while문
#### 3. x보다 y가 작은 경우에는 x부터 y까지의 합, 반대인 경우에는 y부터 x까지의 합

In [139]:
# 풀이(1./2.for문 이용)
def func_5(x,y):
    sum = 0
    for i in range(x, y+1, 1):
        sum += i
    return sum

print(func_5(1,10))
print(func_5(10,1))

55
0

In [145]:
# 풀이(1./2.whlie문 이용)
def func_6(x,y):
    f_sum=0
    while x <= y:
        f_sum += x
        x += 1
    return f_sum
    
print(func_6(1,10))

55

In [146]:
def func_7(x,y):
    f_sum = 0
    # x가 y보다 작은 경우
    if x < y:
        for i in range(x, y+1, 1):
            f_sum += i
    else:
        for i in range(y, x+1, 1):
            f_sum += i
    return f_sum

print(func_7(1,10))
print(func_7(10,1))

55
55

In [147]:
def func_8(x,y):
    f_sum = 0
    for i in range(min(x,y), max(x,y)+1, 1):
        f_sum += i
    return f_sum

print(func_8(1,10))
print(func_8(10,1))

55
55

#### 1. 함수 생성 (매개변수 3개- x,y,z)
#### 2. z값이 '합' x+y 리턴
#### 3. z값이 '차' x-y 리턴
#### 4. z값이 둘다 아니면 '연산인식이 발못되었습니다' 리턴

In [151]:
# 풀이 - if사용_1
def func_9(x,y,z):
    if z =='합':
        return x+y
    if z =='차':
        return x-y
    
    return '연산식이 잘못되었습니다'

print(func_9(1,3,'합'))
print(func_9(1,3,'차'))
print(func_9(1,3,'곱'))

4
-2
연산식이 잘못되었습니다

In [152]:
# 풀이 - if사용_2
def func_10(x,y,z):
    if z=='합':
        result = x+y
    elif z == '차':
        result = x-y
    else:
        result = '연산식이 잘못되었습니다'
    return result

print(func_10(1,3,'합'))
print(func_10(1,3,'차'))
print(func_10(1,3,'곱'))

4
-2
연산식이 잘못되었습니다

In [155]:
def func_11(x):
    result = x**2
    return result

l=[1,2,3,4]

result = []

for i in l:
    result.append(func_11(i))
print(result)

[1, 4, 9, 16]

In [156]:
## map 함수
result_2 = list(map(func_11,l))
print(result_2)

[1, 4, 9, 16]

In [158]:
# 람다 함수
lamb = lambda x: x**2
print(lamb(4))

16

In [163]:
list(map(lamb, l))

[1, 4, 9, 16]

In [ ]:
m